$nav-color: #1d4f91;

.container {
   padding: 1em 2em;
   border-bottom:1px solid #eee;
   display:flex;
   align-items: center;
   justify-content: space-between;
   background: $nav-color;

   & menu {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

     & li {
        padding-left: 1em;
        color: #fff;

        &:first-child {
            padding-left:0;
        }
     }
   }
}